@model ProdutoViewModel
@inject ICloudStorage CloudStorage

<div>
    <div class="item-ajuda">
        <a asp-controller="Produto" asp-action="Detalhes" asp-route-id="@Model.Id" asp-route-produto="@Model.Titulo.ToUrlFriendly()">
            <img class="esh-catalog-thumbnail" src="@CloudStorage.RecuperarImagemUrl(Model.ImagemPrincipal)" />
        </a>
        <div class="info-ajuda">
            <h4>@Model.DescricaoCurta</h4>
            <p>@Model.Titulo</p>
            <p><strong>R$ @Model.PrecoPor?.ToString("N2")</strong></p>
            <a asp-controller="Produto" asp-action="Detalhes" asp-route-id="@Model.Id" asp-route-produto="@Model.Titulo.ToUrlFriendly()" class="esh-catalog-link">
                Saiba mais >
            </a>
        </div>
    </div>
</div>

