@model Admin.ViewModels.Produto.ProdutoSkuViewModel

<form asp-antiforgery="true" asp-action="SalvarSku">
    <input type="hidden" asp-for="IdProdutoSku" name="IdProdutoSku" />
    <input type="hidden" asp-for="IdProduto" name="IdProduto" />
    <div class="row" @(Model.IdProdutoSku == 0 ? "novo-sku" : "")>
        <div class="@(Model.IdProdutoSku == 0 ? "col-md-6" : "col-md-4")">
            <div class="form-group">
                <label asp-for="Descricao"></label>
                <input asp-for="Descricao" class="form-control" asp-placeholder="" name="Descricao" />
                <span asp-validation-for="Descricao" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="TipoSku"></label>
                <select asp-for="TipoSku" asp-enum-itens="typeof(ETipoSku)" class="form-control" name="TipoSku">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="TipoSku" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" asp-enum-itens="typeof(EStatus)" class="form-control" name="Status">
                    <option value="">Selecione...</option>
                </select>
                <span asp-validation-for="Status" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-md-2" asp-visibility="Model.IdProdutoSku > 0">
            <div class="form-group">
                <label asp-for="Saldo"></label>
                <div class="input-group m-b no-margins">
                    <input asp-for="Saldo" class="form-control" asp-placeholder="" name="Saldo" readonly="readonly" />
                    <span class="input-group-btn">
                        <a asp-action="EstoqueHistorico" asp-route-idProdutoSku="@Model.IdProdutoSku" data-pjax data-pjax-container="#container" class="btn btn-info no-margins" title="Exibir Lançamentos">
                            <i class="fa fa-history"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" @(Model.IdProdutoSku == 0 ? "novo-sku" : "")>
        <div class="col-md-3">
            <div class="form-group">
                <div class="i-checks">
                    <label>
                        <input type="checkbox" asp-for="MovimentarEstoque" name="MovimentarEstoque" movimentar="@Model.IdProdutoSku"><i></i> @Html.DisplayNameFor(c => c.MovimentarEstoque)
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" movimentar="@Model.IdProdutoSku">
                <label asp-for="Lancamento"></label>
                <input asp-for="Lancamento" class="form-control" asp-placeholder="" maxlength="500" name="Lancamento" />
                <span asp-validation-for="Lancamento" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-md-2" asp-visibility="Model.IdProdutoSku > 0">
            <div class="form-group" movimentar="@Model.IdProdutoSku">
                <label asp-for="Quantidade"></label>
                <div class="input-group m-b no-margins">
                    <span class="input-group-btn">
                        <button type="button" button-for="@($"#SKU_{Model.IdProdutoSku}_Quantidade")">
                            <i></i>
                        </button>
                    </span>
                    <input asp-for="Quantidade" type="text" class="form-control" maxlength="4" data-negative="@(Model.IdProdutoSku > 0)" asp-placeholder="" asp-mascara="NumericoNegativo" name="Quantidade" />
                </div>
                <span asp-validation-for="Quantidade" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-md-2" asp-visibility="Model.IdProdutoSku == 0">
            <div class="form-group" movimentar="@Model.IdProdutoSku">
                <label asp-for="Quantidade"></label>
                <div class="input-group m-b no-margins">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" disabled>
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                    <input asp-for="Quantidade" type="text" class="form-control" maxlength="4" asp-placeholder="" asp-mascara="NumericoNegativo" name="Quantidade" />
                </div>
                <span asp-validation-for="Quantidade" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group text-right">
                <label class="clear">&nbsp;</label>
                <button class="btn btn-primary btn-rounded" type="submit"><i class="fa fa-check"></i> Salvar</button>
            </div>
        </div>
    </div>
    <div class="row" btn-novo asp-visibility="Model.IdProdutoSku == 0">
        <div class="col-md-12 text-right">
            <button class="btn btn-default btn-rounded" type="button" id="btnNovo">
                <i class="fa fa-plus"></i> Novo SKU
            </button>
        </div>
    </div>
</form>
<div class="hr-line-dashed" asp-visibility="Model.IdProdutoSku > 0"></div>
