@using Framework.Extenders
@model Admin.ViewModels.GrupoUsuario.GrupoUsuarioViewModel
@{
    ViewData["Title"] = GrupoUsuarioPermissoes.NomeGrupo;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>
            @GrupoUsuarioPermissoes.Descricao
        </h2>
        <ol class="breadcrumb">
            <li>
                <a asp-action="Index">Consulta</a>
            </li>
            <li class="active">
                <strong>
                    @Model.Id.LabelOperacao()
                </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a asp-action="Index" class="btn btn-default btn-rounded"><i class="fa fa-arrow-left"></i> Voltar</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        <i class="fa fa-file-text"></i> @Model.Id.LabelOperacao() Grupo de Acesso
                    </h5>
                </div>
                <div class="ibox-content">
                    <form asp-antiforgery="true" asp-action="Form">
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="Nome"></label>
                                    <input asp-for="Nome" class="form-control" type="text" asp-placeholder="" />
                                    <span asp-validation-for="Nome" class="text-danger small"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Status"></label>
                                    <select asp-for="Status" asp-enum-itens="typeof(EStatus)" class="form-control">
                                        <option value="">Selecione...</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger small"></span>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model.Permissoes.OrderBy(c => c.Grupo))
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-right">
                                        @item.Descricao
                                    </label>
                                    <div class="col-md-8">
                                        @foreach (var acao in item.Acoes.OrderBy(c => (int)c.Acao))
                                        {
                                            <label class="checkbox-inline i-checks no-margins">
                                                @if (Model.PermissoesDoGrupo.Contains(acao.Id))
                                                {
                                                    <input type="checkbox" name="PermissoesDoGrupo" value="@acao.Id" checked=""> @acao.Acao.GetDescription()
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="PermissoesDoGrupo" value="@acao.Id"> @acao.Acao.GetDescription()
                                                }
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="form-actions text-right">
                            <button type="submit" class="btn btn-primary btn-rounded" as>
                                <i class="fa fa-check"></i> Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>