@model ProdutoViewModel
@inject ICloudStorage CloudStorage
@section styles{
    <link href="~/css/curso-detalhe.css" rel="stylesheet" />
}
@functions{
    string calcularValorParcela(int quantidadeMaximaParcelamento, decimal? precoPor)
    {
        return Math.Ceiling(precoPor.GetValueOrDefault() / quantidadeMaximaParcelamento).ToString("N2");
    }
}
<div data-pagina="Produto">
    <form asp-controller="Carrinho" asp-action="AdicionarProduto" asp-antiforgery="true" method="post" id="produto">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Quantidade" value="1" />
        <input type="hidden" asp-for="Titulo" />
        <div class="container curso-detalhe">
            <div class="box-detalhe">
                <div class="box-imagem">
                    <img src="@CloudStorage.RecuperarImagemUrl(Model.Imagens.FirstOrDefault())" alt="Alternate Text" />
                </div>
                <div class="box-preco">
                    <p class="categoria">@Model.DescricaoCurta</p>
                    <h2 class="titulo">@Model.Titulo</h2>
                    <div class="preco">
                        <div class="valor">
                            <p>R$ <span>@Model.PrecoPor?.ToString("N2")</span></p>
                        </div>
                        @if (Model.PrecoPor.HasValue)
                        {
                            <div class="parcelas">
                                <p>ou em até <strong>@Model.QuantidadeMaximaParcelamento.ToString("N0")x de</strong></p>
                                <p class="valor-parcela">R$ @calcularValorParcela(Model.QuantidadeMaximaParcelamento, Model.PrecoPor)</p>
                            </div>
                        }
                    </div>
                    <div class="turmas">
                        @foreach (var item in Model.Skus)
                        {
                            <div class="turmas-item">
                                <p>@item.Descricao</p>
                                <input asp-disabled="@item.Saldo == 0" type="radio" name="IdProdutoSku" id="sku_@item.Id" value="@item.Id" />
                            </div>

                        }
                    </div>
                    <div>
                        <a asp-action="Entrar" asp-controller="Login" asp-route-returnUrl="@Url.Action("Detalhes","Produto",new { Model.Id, produto = Model.Titulo.ToUrlFriendly() })" asp-visibility="!Context.User.Identity.IsAuthenticated">COMPRAR</a>
                        <button type="submit" asp-visibility="Context.User.Identity.IsAuthenticated">Comprar</button>
                    </div>
                </div>
            </div>
            <div class="box-info">
                <div class="box-descricao">
                    <div class="descricao">
                        <h2>Descrição do Curso</h2>
                        <p>@Html.Raw(Model.DescricaoCurta)</p>
                    </div>
                    <div class="descricao instrutores">
                        <h2>Instrutores do Estúdio</h2>
                        <div class="instrutores">
                            <div class="avatar">
                                <img src="~/img/gr/gr-img-depoimento.jpg" alt="Alternate Text" />
                            </div>
                            <div class="texto">
                                <p>Lorem ipsum curabitur malesuada ornare curabitur laoreet ut sollicitudin pharetra, felis maur</p>
                                <p class="rede-social">@@luistopster 1</p>
                            </div>
                        </div>
                        <div class="instrutores">
                            <div class="avatar">
                                <img src="~/img/gr/gr-img-depoimento.jpg" alt="Alternate Text" />
                            </div>
                            <div class="texto">
                                <p>Lorem ipsum curabitur malesuada ornare curabitur laoreet ut sollicitudin pharetra, felis maur</p>
                                <p class="rede-social">@@luistopster 1</p>
                            </div>
                        </div>
                        <div class="instrutores">
                            <div class="avatar">
                                <img src="~/img/gr/gr-img-depoimento.jpg" alt="Alternate Text" />
                            </div>
                            <div class="texto">
                                <p>Lorem ipsum curabitur malesuada ornare curabitur laoreet ut sollicitudin pharetra, felis maur</p>
                                <p class="rede-social">@@luistopster 1</p>
                            </div>
                        </div>
                        <div class="instrutores">
                            <div class="avatar">
                                <img src="~/img/gr/gr-img-depoimento.jpg" alt="Alternate Text" />
                            </div>
                            <div class="texto">
                                <p>Lorem ipsum curabitur malesuada ornare curabitur laoreet ut sollicitudin pharetra, felis maur</p>
                                <p class="rede-social">@@luistopster 1</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-programacao">
                    <h2>Conteúdo programático</h2>
                    <ul>
                        <li>Estética e História da Arte<span class="carga-horaria">30 hr/a</span></li>
                        <li>Estética e História da Arte<span class="carga-horaria">30 hr/a</span></li>
                        <li>Estética e História da Arte<span class="carga-horaria">30 hr/a</span></li>
                        <li>Estética e História da Arte<span class="carga-horaria">30 hr/a</span></li>
                        <li>Estética e História da Arte<span class="carga-horaria">30 hr/a</span></li>
                        <li>Estética e História da Arte<span class="carga-horaria">30 hr/a</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>


</div>
<div class="container cursos-sugeridos">
    <div id="box-cursos">
        <h3>Outros cursos recomendados</h3>
        <div id="carrosel-cursos-sugeridos" class="box">
            <div class="box-item">
                <img src="~/img/gr/gr-ajuda-1.png" alt="Alternate Text" />
                <div class="box-info">
                    <p>Produtos Criativos</p>
                    <h2>Foca na Representação</h2>
                    <h3>R$ 425,00</h3>
                    <p class="saiba-mais"><a href="/cursos/detalhe/produto-criativos">Saiba mais <i class="seta-direita"></i></a></p>
                </div>
            </div>
            <div class="box-item">
                <img src="~/img/gr/gr-ajuda-2.png" alt="Alternate Text" />
                <div class="box-info">
                    <p>Produtos Criativos</p>
                    <h2>Foca na Representação</h2>
                    <h3>R$ 425,00</h3>
                    <p class="saiba-mais"><a href="/cursos/detalhe/produto-criativos">Saiba mais <i class="seta-direita"></i></a></p>
                </div>
            </div>
            <div class="box-item">
                <img src="~/img/gr/gr-ajuda-3.png" alt="Alternate Text" />
                <div class="box-info">
                    <p>Produtos Criativos</p>
                    <h2>Foca na Representação</h2>
                    <h3>R$ 425,00</h3>
                    <p class="saiba-mais"><a href="/cursos/detalhe/produto-criativos">Saiba mais <i class="seta-direita"></i></a></p>
                </div>
            </div>
            <div class="box-item">
                <img src="~/img/gr/gr-ajuda-4.png" alt="Alternate Text" />
                <div class="box-info">
                    <p>Produtos Criativos</p>
                    <h2>Foca na Representação</h2>
                    <h3>R$ 425,00</h3>
                    <p class="saiba-mais"><a href="/cursos/detalhe/produto-criativos">Saiba mais <i class="seta-direita"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>